[Desktop Entry]
Version=1.0
Type=Application
Name=Tic Tac Toe Reactor
Comment=Play classic and super tic tac toe
Exec=/home/yash/playground/tic-tac-toe/scripts/launch-tic-tac-toe
Icon=/home/yash/playground/tic-tac-toe/resources/tic-tac-toe-reactor.svg
Terminal=false
Categories=Game;BoardGame;
StartupNotify=true
